[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
flake8-commas = "*"
pep8-naming = "*"
pytest-cov = "*"
setuptools-scm = "*"

[packages]
setuptools-cmd-deps = "*"
# required by betterproto[compiler], but black doesn't have a stable release
# have to explicit specify the pre-release version
black = "==19.10b0"

[requires]
python_version = "3.6"

[packages.betterproto]
extras = [ "compiler",]

[scripts]
unit = "python -m pytest tests/unit"
test = "python -m pytest"
